mat-form-field{
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.example-radio-group {
  display: inline-block;
  flex-direction: column;
  margin: 5px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
