.example-spacer{
  flex: 1 1 auto;
}

.icon{
  background: #004F4F;
  color: white;
}
.add-btn{
  background: #004F4F;
  border: 1px solid wheat;
  padding: 10px 20px;
  border-radius: 5px;
}
.add-btn:hover{
  background: #004F4A;
  color: white;
}
